<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "About";
}

<body>
    <div class="About">
        <h1>About the Party</h1>
        <div id="details">
            <p>You're invited to a pumpkin carving party.</p>
            <p>Saturday, October 24<br />1 - 4 PM</p>
            <p>1313 Jack Lantern Drive, Spookytown</p>
            <p>B.Y.O.P (Bring Your Own Pumpkin)</p>
            <p><a href="rsvp.html">RSVP</a> here by Oct. 17</p>
            <p>Join us for a Halloween pumpkin carving party.</p>
            <p>We've got the pumpkins (and refreshments, too!)</p>
            <p>Bring your pumpkins to out Halloween pumpkin carving party</p>
            <p>We'll have food, drinks, and Trick-or-Treats!</p>
            <p>Pumpkins Beware!</p>
            <p>We're having a pumpkin carving part</p>
            <p>Bring a <strike>victim</strike> pumpkin to carve</p>
        </div>
    </div>
</body>
</html>