<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Gallery";
}

<body>
    <div class="Gallery">
        <h2>Scary!</h2>
        <img src="~/images/halloween.jpg" alt="halloween dogs" />
        <p>Be prepared to get spooked! There will be many scary ghouls at out party!<br />We promise we won't scare you too much, there's still pumpkin carving to do!</p>
        <h2>Pumpkin carving!</h2>
        <img src="~/images/pumpkin.jpg" alt="pumpkin" />
        <p>The main attraction of our party: pumpkin carving! We will be carving our pumpkins.<br />The person who has the most creative design will win a spooky prize!</p>
        <h2>Complimentary assisted parking!</h2>
        <img src="~/images/cars.jpg" alt="cars" />
        <p>Worried about parking taking up all your time?<br /> Don't worry, we'll take care of it so you can enjoy our carving party as long as possible!</p>
        <h2>Complimentary Refreshments!</h2>
        <img src="~/images/beverages.jpg" alt="beverages" />
        <p>Pumpkin carving is exhausting! That's why we will offer complimentary refreshments.<br />We will have various soft drinks and snacks available for everyone!</p>
    </div>
</body>
</html>