<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="Home">
        <h1>We're going to have an exciting party!</h1>
        <h2>And YOU are invited!</h2>
        <button type="button" onclick="location.href='@Url.Action("RSVP", "Home")'">RSVP Now</button>
    </div>
</body>
</html>